body {
  font-family: "Poppins", sans-serif;
  background: #f4fffc;
  color: #2c4047;
  width: auto;
  margin: 0;
  padding: 30px;
}

.title-search {
  text-align: center;
  margin-bottom: 50px;
}

.gif-area {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 50px;
}

.gif-area img {
  padding: 5px;
}

.load {
  text-align: center;
}

.hidden {
  display: none;
}
